<html>
  <head>
    <meta charset="utf-8" />
    <!-- our project just needs Font Awesome Solid + Brands -->
    {{! <link
      href="/assets/fontawesome-6.3.0/css/fontawesome.css"
      rel="stylesheet"
    />
    <link href="/assets/fontawesome-6.3.0/css/brands.css" rel="stylesheet" />
    <link href="/assets/fontawesome-6.3.0/css/solid.css" rel="stylesheet" /> }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Add the HTML code for the carousel -->
    <link rel="stylesheet" href="/css/carousel.style.css" />
    <link rel="stylesheet" href="/css/header.style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <base href="http://localhost:3000" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <title>
      Departmetal website | {{title}}
    </title>
  </head>
  <body>
    {{{body}}}
    <script src="js/script.js"></script>
    <style type="text/tailwindcss">
      @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
    ></script>
  </body>
</html>