<h2>{{{title}}}</h2>
<h2>I have done something..</h2>

<i class="fa-solid fa-camera"></i>
<!-- uses solid style -->
<i class="fa-brands fa-github-square" style="height: 40px; width: 20px;"></i>
<i class="fa-brands fa-github-square" style="height: 40px; width: 20px;"></i>
<!-- uses brand style -->