<section class="header">

{{> header}}
 <div class="header">
      <h1> Department of {{department.name}}</h1>
      <h3>University of Unicef</h3>
  </div>
</section>

{{!-- ?main section --}}
{{> carousel}}
<section class="main content" id="top">
  <main> 
  </main>
</section>

{{!-- ?footer --}}
{{> footer}}