{{> header}}
<main class="login_page min-h-[60vh] flex items-center justify-center">
    <section class="container my-16 bg-white max-w-sm my-sm rounded-xl p-2 flex flex-col gap-4">
        <h1 class="text-center font-300 text-3xl text-indigo-900 mt-2">{{title}} Form</h1>
        <div class="flex items-center justify-center"><img src="/images/favicon.ico" class="w-[4rem]" alt="logo"></div>
        {{> form}}
    </section>
</main>
{{> footer}}