header {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}

header.is-sticky {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

header.bg-change {
  background: var(--bg-color);
}
.header h1 {
  font-size: 3rem;
  font-family: var(--header);
  margin: 1rem 0;
  font-weight: 600;
}

.header h3 {
  font-size: 2rem;
  font-family: var(--header);
  margin: 1rem 0;
}

section.header .header {
  position: relative;
  margin: 10vh 0;
  max-width: 50%;
  color: var(--white);
  padding-left: 4rem;
}

header .hamburger {
  flex: 0.1;
  display: none;
}

header .logo {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}
.logo > img {
  object-fit: contain;
}
header nav {
  flex: 0.8;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav ul li {
  margin: 0 0.5rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

header nav ul li a {
  color: var(--white);
}

header nav ul a::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -100%;
  background-color: var(--white);
  transition: all 250ms;
}
header nav ul li:hover a::before {
  left: 0;
}

header .login {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
